<section id="container-3" class="container section bg-02060A">
  <div class="wrapper content-75">
    <div class="inner stack whoami-block">
      <h2 class="whoami">Who am I?</h2>
      <div id="gs-blurb" class="prose">
        <span class="mobile-only">My name is Gabriel Santana. I'm a 16-year-old running an online video editing business based in Brazil.</span>
        <span class="desktop-only">My name is Gabriel Santana. I'm a 16-year-old running an online video editing business based in Brazil.
          My goal is <em>simple</em>: make video editing so frictionless that it <strong>never even crosses your mind.</strong>
        </span>
      </div>
    </div>
  </div>
</section>
