<!-- ======================== BIG CONTAINER #2 ======================== -->
<section id="container-2"
  class="mx-auto content-75 rounded-0375 bg-00080F border-1-solid-0c0c0c00 shadow-none pv-auto ph-auto mt-auto mb-1125 center">
  <div class="mx-auto center">

    <!-- David -->
    <script src="https://fast.wistia.com/embed/7fabk90kiw.js" async type="module"></script>
    <style>
      wistia-player[media-id='7fabk90kiw']:not(:defined) {
        background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/7fabk90kiw/swatch');
        display: block;
        filter: blur(5px);
        padding-top: 56.25%;
      }
      /* Desktop margin */
      wistia-player[media-id='7fabk90kiw'] { margin-top: 15px; }
      @media (max-width: 768px) {
        wistia-player[media-id='7fabk90kiw'] { margin-top: 0 !important; }
      }
    </style>
    <wistia-player media-id="7fabk90kiw" aspect="1.7777777777777777"></wistia-player>

    <!-- Dustin -->
    <script src="https://fast.wistia.com/embed/sghn8kkn9p.js" async type="module"></script>
    <style>
      wistia-player[media-id='sghn8kkn9p']:not(:defined) {
        background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/sghn8kkn9p/swatch');
        display: block;
        filter: blur(5px);
        padding-top: 56.25%;
      }
    </style>
    <wistia-player media-id="sghn8kkn9p" aspect="1.7777777777777777" style="margin-top:25px;"></wistia-player>

    <!-- Harris -->
    <script src="https://fast.wistia.com/embed/rp8eiq1r14.js" async type="module"></script>
    <style>
      wistia-player[media-id='rp8eiq1r14']:not(:defined) {
        background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/rp8eiq1r14/swatch');
        display: block;
        filter: blur(5px);
        padding-top: 56.25%;
      }
    </style>
    <wistia-player media-id="rp8eiq1r14" aspect="1.7777777777777777" style="margin-top:25px;"></wistia-player>

    <!-- Joshua -->
    <script src="https://fast.wistia.com/embed/ckjt9hifsx.js" async type="module"></script>
    <style>
      wistia-player[media-id='ckjt9hifsx']:not(:defined) {
        background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/ckjt9hifsx/swatch');
        display: block;
        filter: blur(5px);
        padding-top: 56.25%;
      }
    </style>
    <wistia-player media-id="ckjt9hifsx" aspect="1.7777777777777777" style="margin-top:25px;"></wistia-player>

  </div>
</section>

